<p>third works!</p>
<p>1</p>
<!--ng-content는외부(ex. 부모 컴포넌트)에서 받아온 컨텍츠를 어느 위치에 결정할 쓸지 결정 할 때 쓰는 태그이다.-->
Default: <ng-content></ng-content>
<p>2</p>
<p>3</p>
<!--ng-content에 select속성을 주어 어튜리뷰트에 맞는 컨텍츠만 렌더링 할 수 있다. -->
attribute: <ng-content select="[attribute]"></ng-content>
<p>4</p>
<div>
  <button (click)="up()" title="smaller">-</button>
  <button (click)="down()" title="bigger">+</button>
  <!-- 스타일 바인딩을 통하여 폰트사이즈를 변경할 수 있다.-->
  <label [style.font-size.px]="size">FontSize: {{size}}px</label>
</div>
<!-- service의 sayHi메소드 이용-->
<p>{{firstservice.sayHi()}}</p>
